@page "/shows/create"
@using Microsoft.EntityFrameworkCore
@using MediaTracker.Models
@inject IDbContextFactory<MediaTracker.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Show</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Show" OnValidSubmit="AddShow" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Show.Title" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Show.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="genre" class="form-label">Genre:</label> 
                <InputText id="genre" @bind-Value="Show.Genre" class="form-control" /> 
                <ValidationMessage For="() => Show.Genre" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="finished" class="form-label">Finished:</label> 
                <InputCheckbox id="finished" @bind-Value="Show.Finished" class="form-check-input" /> 
                <ValidationMessage For="() => Show.Finished" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rating" class="form-label">Rating:</label> 
                <InputSelect id="rating" @bind-Value="Show.Rating" class="form-control">
                    <option value="">-- None --</option>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Show.Rating" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="notes" class="form-label">Notes:</label> 
                <InputTextArea id="notes" @bind-Value="Show.Notes" class="form-control" Rows="6" />
                <ValidationMessage For="() => Show.Notes" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/shows">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Show Show { get; set; } = default!;

    protected override void OnInitialized() => Show ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddShow()
    {
        using var context = DbFactory.CreateDbContext();
        context.Show.Add(Show);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/shows");
    }
}
